<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!--配置重写规则节点-->
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />

  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Wopi_ServiceSoap" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://222.35.226.155:1313/Wopi_Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="Wopi_ServiceSoap"
          contract="Wopi_WebService.Wopi_ServiceSoap" name="Wopi_ServiceSoap" />
    </client>
  </system.serviceModel>

  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\SystemLog" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n" />
      </layout>
    </appender>
    <root>
      <level value="all" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097152" executionTimeout="3600" />

  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
    <!--<directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>-->

  </system.webServer>
  <connectionStrings>
    <!--数据库连接地址-->
    <add connectionString="Data Source=192.168.100.242;Initial Catalog=MTG_SinptechStudy;User ID=sa;password=sa@2016" name="connStr" />
    <!--登录页-->
    <add connectionString="/Login.aspx" name="LoginPage" />
    <!--统一认证中心接口地址-->
    <add name="TokenPath" connectionString="http://192.168.100.240:7004/bingetang/Demo.SSO/SSO_Server/Handles/SSO_ServerCenter.ashx/" />
    <!--<add name="TokenPath" connectionString="http://192.168.100.240:8090/bingetang/Demo.SSO/SSO_Server/Handles/SSO_ServerCenter.ashx/" />-->
    <!--用户中心接口访问用户-->
    <add connectionString="Unified_SchoolCube" name="SysAccountNo" />
    <!--本系统接口-->
    <!--<add name="HttpService" connectionString="http://192.168.100.240:8087/" />-->
    <!--<add name="HttpService" connectionString="http://192.168.1.2:8090/" />-->
    <add name="HttpService" connectionString=" http://localhost:43260/" />
    <!--文件上传根目录文件夹-->
    <add name="FileManageName" connectionString="/FileManage" />
    <!--<add connectionString="xlf_self" name="SystemKey" />-->
    <!--基础平台接口地址-->
    <!--<add connectionString="http://192.168.100.240:8090/UserCenter/Hander/" name="Unified_HandlerUrl" />-->
    <add connectionString="http://192.168.100.240:7004/UserCenter/Hander" name="Unified_HandlerUrl" />
    <add connectionString="'超级管理员','管理员'" name="AdminRow"/>
    <!--多文件下载压缩包跟目录-->
    <add connectionString="/ZipUrl" name="ZipUrl"/>
    <!--文件下载地址-->
    <add connectionString="http://192.168.100.240/ZipUrl" name="DownUrl"/>
    <!--微课资源关联的资源表名称学科资源库ResourcesInfo或标准资源库Resource-->
    <add connectionString="ResourcesInfo" name="CourseResourceTable"/>
    <!--发布网站的虚拟目录前缀，若为根目录填写空-->
    <add connectionString="" name="WebAborvUrl"/>
  </connectionStrings>
  <appSettings>
    <add key="SendPersonalMailUser" value="Develop@sinptech.com" />
    <add key="SendPersonalMailPwd" value="Flyt@703" />
    <add key="services" value="192.168.100.240:100"/>
  </appSettings>

  <system.webServer>
    <!-- <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />-->
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1" />
    </settings>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Develop@sinptech.com">
        <network defaultCredentials="false" host="smtp.exmail.qq.com" password="Flyt@703" port="25" userName="Develop@sinptech.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--<configuration>
  -->
<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
<!--
  <configSections>
    -->
<!--财贸-->
<!--
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
    -->
<!--财贸-->
<!--
  </configSections>
  -->
<!--财贸-->
<!--
  <casClientConfig casServerLoginUrl="http://ids.bjczy.edu.cn:8080/cas/login" casServerUrlPrefix="http://ids.bjczy.edu.cn:8080/cas" serverName="http://localhost:17405" redirectAfterValidation="true" renew="false" singleSignOut="true" ticketValidatorName="Cas20" serviceTicketManager="CacheServiceTicketManager"/>

  -->
<!--财贸-->
<!--

  <system.web>
    -->
<!--财贸-->
<!--
    <authentication mode="Forms">
      -->
<!-- 注意path属性 范围，如果设置错误会出现循环重定向 -->
<!--
      <forms loginUrl="http://ids.bjczy.edu.cn:8080/cas/login" cookieless="UseCookies" name="LoginCookieName" timeout="30" defaultUrl="~/Default.aspx" slidingExpiration="true" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
      -->
<!-- Other modules here -->
<!--
    </httpModules>
    -->
<!-- 以下2个配置关闭.net Post危险字符验证 -->
<!--
    <pages validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0"  targetFramework="4.5" maxRequestLength="2097152" executionTimeout="3600"/>
    -->
<!-- 以上2个配置关闭.net Post危险字符验证 -->
<!--
   
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    -->
<!--财贸-->
<!--
    -->
<!--   Disabled Integrated Mode configuration validation.   This will allow a single deployment to  run on IIS 5/6 and 7+   without errors  -->
<!--
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      -->
<!--   Remove and Add the CasAuthenticationModule into the IIS7+   Integrated Pipeline.  This has no effect on IIS5/6.  -->
<!--
      <remove name="DotNetCasClient"/>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
      -->
<!-- Other modules here -->
<!--
    </modules>
    -->
<!--财贸-->
<!--
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer> 
  
  
  <connectionStrings>
    -->
<!--数据库连接地址-->
<!--
    <add connectionString="Data Source=192.168.100.242;Initial Catalog=SinptechStudy_CM;User ID=sa;password=sa@2016" name="connStr"/>
    <add connectionString="/Login.aspx" name="LoginPage"/>
    -->
<!--统一认证-->
<!--
    <add name="TokenPath" connectionString="http://192.168.100.240:3001/SSO_Server/Handles/SSO_ServerCenter.ashx/"/>
    <add connectionString="Unified_SchoolCube" name="SysAccountNo"/>
    -->
<!--本系统接口-->
<!--
    <add name="HttpService" connectionString="http://192.168.1.2:8090/"/>
    -->
<!--<add name="HttpService" connectionString="http://localhost:43260/"/>-->
<!--

    <add name="FileManageName" connectionString="/FileManage"/>
    -->
<!--基础平台接口地址-->
<!--
    <add connectionString="http://192.168.1.2:6000/" name="Unified_HandlerUrl" />
    <add connectionString="'超级管理员','管理员','讲师'" name="AdminRow"/>
    <add connectionString="/ZipUrl" name="ZipUrl"/>
    <add connectionString="http://192.168.100.240/ZipUrl" name="DownUrl"/>
  </connectionStrings>
  <appSettings>
    <add key="SendPersonalMailUser" value="Develop@sinptech.com"/>
    <add key="SendPersonalMailPwd" value="Flyt@703"/>
    <add key="services" value="192.168.100.240:100"/>
  </appSettings>

  
</configuration>-->